#menus li {
    display: inline;
}

#menus li a {
    background: url("/img/menu.gif") no-repeat scroll 0 0 transparent;
    color: #382E1F;
    display: block;
    float: left;
    font-size: 11px;
    height: 31px;
    line-height: 31px;
    margin-left: -10px;
    padding: 0 20px;
    text-decoration: none;
    z-index: 1;
}
#menus li a:hover {
    background-position: 0 -31px;
}
#menus li.current_page_item a, #menus li.current-cat a {
    background-position: 0 -62px;
}

#menus li a.start {
    background-position: 0 -186px;
    margin-left: 0;
    padding: 0;
    text-indent: -999em;
    width: 45px;
}
#menus li a.start:hover {
    background-position: 0 -186px;
}
#menus li.current_page_item a.start {
    background-position: 0 -186px;
}

#menus li a.home {
    background-position: 0 -93px;
    margin-left: 0;
    padding: 0;
    text-indent: -999em;
    width: 45px;
}
#menus li a.home:hover {
    background-position: 0 -124px;
}
#menus li.current_page_item a.home {
    background-position: 0 -155px;
}
#menus li a.lastmenu:hover {
    background-position: 0 0;
}
#menus li ul {
    background: none repeat scroll 0 0 #F4F5F7;
    border-color: #A6A6A6 #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    display: none;
    padding: 0 5px;
}
#menus li li {
    display: block;
    float: none;
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
}
#menus li li a {
    background-image: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    float: none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    width: 150px;
}
#menus li li.first a {
    border-top: medium none;
}
#menus li li a:hover {
    font-weight: bolder;
}