<wicket:panel>
	<ul id="menus">
		<li class="current_page_item" wicket:id="menu-home"><a href="#" wicket:id="menu-link" title="home" class="home"><span wicket:id="menu-label">[menu-label]</span></a></li>
		<li wicket:id="menu-item"><a href="#" wicket:id="menu-link" title="" class="#"><span wicket:id="menu-label">[menu-label]</span></a></li>
		<li><a title="About Java-Blog.com" href="http://www.java-blog.com/about-java-blog-com">About Java-Blog.com</a></li>
		<li><a title="Contact" href="http://www.java-blog.com/contact">Contact</a></li>
		<li><a href="javascript:void(0);" class="lastmenu"></a></li>
	</ul>
</wicket:panel>